<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Base URL</title>
</head>
<header th:replace="header :: appHeader"></header>
<body>
<h2>Базовый URL Мониторинга БП</h2>
<h3> Привер вводимого URL: http://qbpmcockpit.qtms.qrun.diasoft.ru </h3>
<h3> для возврата исходного url, заданного в конфигах - сохранить пустой </h3>
<form th:action="@{/qbpmcockpit/baseUrl}" method="post">
    <div>
        <label for="baseUrl">Base URL:</label>
    </div>
    <div>
        <textarea id="baseUrl" name="baseUrl" rows="2" cols="120" th:text="${baseUrl}"></textarea>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>

<h2>Базовый URL БПМ плеера</h2>
<h3> Пример вводимого URL: http://qesevaluationsbpm.qtms.qrun.diasoft.ru </h3>
<h3> Пример path/context: qesevaluationsbpm </h3>
<h3> для возврата исходных значений, заданных в конфигах - сохранить пустым </h3>
<form th:action="@{/qbpmplayer/baseUrl}" method="post">
    <div>
        <label for="qbpmPlayerBaseUrl">Base URL:</label>
    </div>
    <div>
        <textarea id="qbpmPlayerBaseUrl" name="baseUrl" rows="2" cols="120" th:text="${qbpmPlayerBaseUrl}"></textarea>
    </div>
    <div>
        <label for="qbpmPlayerContext">Path/Context:</label>
    </div>
    <div>
        <textarea id="qbpmPlayerContext" name="context" rows="2" cols="120" th:text="${qbpmPlayerContext}"></textarea>
    </div>
    <div>
        <button type="submit">Save</button>
    </div>
</form>
</body>
</html>
