<header th:fragment="appHeader">
    <div class="topbar">
        <a th:href="@{/}">
            <img th:src="@{/images/Logo.jpg}" alt="Logo" style="height: 64px; width: auto; vertical-align: middle;" />
        </a>
        <a th:href="@{/}">Главная</a>
        <a th:href="@{/login}">Авторизация</a>
        <a th:href="@{/token}">Токен</a>
        <a th:href="@{/qbpmplayer/basePlayer}">Настройка BPM-плеера</a>
        <a th:href="@{/qbpmcockpit/instances}">Поиск запущенных процессов</a>
        <a th:href="@{/finished-processes/deleted}">Удалённые процессы</a>
    </div>
</header>