<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout('BPM Resolver', null, ~{::main})">
<main>
    <h2>BPM Resolver</h2>

    <h3>Назначение сервиса</h3>
    <p>
        Сервис предназначен для работы с мониторингом BPM-процессов: настройки токена доступа, настройки сервиса BPM-плеера,
        поиска запущенных процессов и их завершения.
    </p>

    <h3>Доступные разделы</h3>
    <ul>
        <li>
            <b>Токен</b> — настройка токена, который используется для доступа к API (ручной ввод или авто-обновление).
        </li>
        <li>
            <b>Настройка BPM-плеера</b> — настройка BPM-плеера для останова процессов.
        </li>
        <li>
            <b>Поиск запущенных процессов</b> — поиск процессов по фильтрам и массовое завершение выбранных процессов.
        </li>
        <li>
            <b>Поиск остановленных процессов</b> — поиск ранее остановленных процессов по фильтрам.
        </li>
    </ul>
</main>
</html>
